<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ web }}</p>
</div>

<article class="about">
    <h2>Sobre Mi</h2>
    <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nam mollitia ducimus, laboriosam asperiores
            dolorum recusandae quasi delectus dicta, soluta voluptates, id quae nihil corrupti. Cupiditate aliquid aut
            distinctio accusantium?</span><span>Ipsum, quaerat maiores illo tempore similique, vel, odio consequuntur
            non esse cum tenetur commodi et nulla minima doloribus amet aut quas. Pariatur animi blanditiis, ab delectus
            quisquam inventore dignissimos dolorum.</span><span>Quas asperiores officia explicabo consequuntur, iusto
            quaerat molestias reiciendis odio nemo, voluptate sapiente accusantium pariatur odit rerum laudantium!
            Maiores distinctio voluptatibus dicta, quo voluptates rem odio alias beatae quae
            praesentium.</span><span>Pariatur repellendus ea facilis voluptatibus sequi fugiat quia a recusandae ipsa
            qui, quisquam illo enim necessitatibus magnam? Optio accusamus qui obcaecati laudantium magni corporis
            consequuntur, error beatae consequatur velit aliquid.</span><span>Quis, accusantium sequi animi quisquam,
            vero facilis, eaque consequatur temporibus laudantium eius molestias fuga perferendis reiciendis? Obcaecati
            laborum totam sequi ab, ex eveniet necessitatibus eos architecto quibusdam nisi inventore recusandae.</span>
    </p>
</article>